<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Ship Log" %}</title>
    <link rel="stylesheet" href="{% static 'diary/css/page_style.css' %}">
</head>
<body>
    <div class="grid-container_custom">
        <div class="header_custom" style="background-image: url('{% static 'diary/images/log_book.webp' %}')">
<div class="name_plate">
    {% if user.is_authenticated %}
        <h3>{% trans "User:" %} {{ user.email }}</h3>
    {% else %}
        <h3>{% trans "User: Unknown"%}</h3>
    {% endif %}
</div>
            <div class="container_custom_for_text">
                <div class="text_box_custom">
                    <h1>{% trans "Welcome to Ship Diary" %}</h1>
                </div>
            </div>
        </div>

        <div class="menu">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'diary:user_home' %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url 'diary:logout' %}">{% trans "Log Out" %}</a></li>
                        <li><a href="{% url 'diary:records' %}">{% trans "Records 'n' Notes" %}</a></li>
                    {% else %}
                    <li><a href="{% url 'diary:index' %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url 'diary:login' %}">{% trans "Login" %}</a></li>
                    <li><a href="{% url 'diary:register' %}">{% trans "Register" %}</a></li>
                    {%  endif %}
                </ul>
            </nav>
        </div>

        <div class="main">
        <h1></h1>
            {% block content %}

            {% endblock %}
        </div>

        <div class="right">
            <script type="text/javascript">
    // Map appearance
    var width="100%";         // width in pixels or percentage
    var height="300";         // height in pixels
    var latitude="0.00";      // center latitude (decimal degrees)
    var longitude="0.00";     // center longitude (decimal degrees)
    var zoom="3";             // initial zoom (between 3 and 18)
    var names=true;          // always show ship names (defaults to false)

    // Single ship tracking
    var mmsi="123456789";     // display latest position (by MMSI)
    var imo="1234567";        // display latest position (by IMO, overrides MMSI)
    var show_track=false;     // display track line (last 24 hours)

    // Fleet tracking
    var fleet="e48ab3d80a0e2a9bf28930f2dd08800c"; // your personal Fleet key (displayed in your User Profile)
    var fleet_name="Carnival"; // display particular fleet from your fleet list
    var fleet_timespan="1440"; // maximum age in minutes of the displayed ship positions
</script>
<script type="text/javascript" src="https://www.vesselfinder.com/aismap.js"></script>
        </div>

        <div class="footer_custom">
            <p>{% trans "© 2024 Ship Diary by TFS. All rights reserved." %}</p>
        </div>
    </div>

    <!-- Language switcher form -->
 <form class="form_language_change" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}"/>
        <select name="language" onchange="this.form.submit()">
          {% load static %}
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% for lang in LANGUAGES %}
          <option value="{{ lang.0 }}" {% if lang.0 ==  LANGUAGE_CODE %} selected="selected" {% endif %}>
            {{ lang.1 }}
          </option>
          {% endfor %}
        </select>
      </form>
</body>
</html>