{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="container_center">
<h1>{% trans "Add Crew Entry" %}</h1>

        <a href="{% url 'diary:view_crew_logs' %}" class="button_maintenance">{% trans "Back" %}</a>
        </div>
<hr>
<div class="form_container_custom_">
<h3>add log entry</h3>
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form_field_custom">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    <div class="error_message_form_field">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
<div>
        <button type="submit" class="submit_button_form_field">{% trans "Submit" %}</button>
</div>
    <hr>


    </form>
</div>
<hr>
{% endblock %}