{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>

    <div id='calendar'></div>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: [
                    {% for event in events %}
                    {
                        title: '{{ event.summary|escapejs }}',
                        start: '{{ event.start|escapejs }}',
                        end: '{{ event.end|escapejs }}'
                    }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                timeFormat: 'H:mm'  // 24-hour format
            });
        });
    </script>
{% endblock %}